body{
    background-image: url("./background.png");
    
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;

}
.flex-column{
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.flex-row{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#logo{
    border-radius: 100%;
    width:60px;
    height: 60px;
    float: left;
    margin-left: 10px;
}
#header{
    position: fixed;
    top:10px;
    background-color: rgba(222, 184, 135, 0.6);
    width:98vw;
    z-index: 3;
    color: white;
    border-radius: 10px;
    border-color: lightyellow;
    border-style: solid;
    border-width: 1px;
}
#navbar{
    width: 100vw;
   
    justify-content: flex-end;
}
.nav-items{
    margin-right: 30px;
    
}
a{
    color: white;
    text-decoration: none;
    font-size: large;
}
a:hover{
    font-size: xx-large;
    color: yellowgreen;
}

#form{
    position: relative;
    top:100px;
    width: fit-content;
    background-color: rgba(222, 184, 135, 0.6);
    border-radius: 10px;
    padding:20px;
}
input,textarea{
    font-family: serif;
    font-style: italic;
    font-weight: bold;
    width:300px;
    padding:10px;
    margin: 15px;
    font-size:15px;
    border-radius: 20px;
    border: none;
}
textarea{
    height:100px;
}
input:focus,textarea:focus{
    outline: none;
}

#form-btn{
    color:darkred;
    background-color: white;
    border: none;
    font-size:large;
    border-radius: 20px;
    padding:10px;
}
#form-btn:focus{
    outline: none;
}
#form-btn:hover{
    font-size: x-large;
}